<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>

	<typeAliases>
		<typeAlias alias="Stock" type="com.trade.model.tradecore.stock.Stock" />
		<typeAlias alias="MinuteQuote" type="com.trade.model.tradecore.quote.MinuteQuote" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mapper_tradecore/StockMapper.xml" />
		<mapper resource="mybatis/mapper_tradedrds/MinuteQuoteMapper.xml" />
	</mappers>

</configuration>