<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QuantTradeActualMapper">

    <resultMap id="quantTradeActualResultMap" type="QuantTradeActual">
        <id property="tradeActualID" column="tradeActualID" />
        <result property="tradePlannedID" column="tradePlannedID" />
		<result property="stockID" column="stockID" />
		<result property="stockCode" column="stockCode" />
		<result property="tradingHandlerType" column="tradingHandlerType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="sellShort" column="sellShort" />
		<result property="actualBuyPrice" column="actualBuyPrice" />
		<result property="actualBuyVolume" column="actualBuyVolume" />
		<result property="actualBuyKdjJson" column="actualBuyKdjJson" />
		<result property="actualBuyTradeDate" column="actualBuyTradeDate" typeHandler="com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler" />
		<result property="actualBuyTradeTime" column="actualBuyTradeTime" typeHandler="com.trade.common.infrastructure.util.mybatis.LocalTimeTypeHandler" />
		<result property="actualSellPrice" column="actualSellPrice" />
		<result property="actualSellVolume" column="actualSellVolume" />
		<result property="actualSellKdjJson" column="actualSellKdjJson" />
		<result property="actualSellTradeDate" column="actualSellTradeDate" typeHandler="com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler" />
		<result property="actualSellTradeTime" column="actualSellTradeTime" typeHandler="com.trade.common.infrastructure.util.mybatis.LocalTimeTypeHandler" />
		<result property="profitOrLessAmount" column="profitOrLessAmount" />
		<result property="profitOrLessRate" column="profitOrLessRate" />
		<result property="touchProfitTimes" column="touchProfitTimes" />
		<result property="touchLossTimes" column="touchLossTimes" />
		<result property="reduceProfitRateMultiple" column="reduceProfitRateMultiple" />
    </resultMap>

	<select id="queryListNotSelled" resultMap="quantTradeActualResultMap">
		SELECT *
		FROM quant_trade_actual
		WHERE actualSellPrice=0
	</select>

    <select id="queryListByBuyDate" parameterType="map" resultMap="quantTradeActualResultMap">
		SELECT *
		FROM quant_trade_actual
		WHERE actualBuyTradeDate=#{actualBuyTradeDate, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler}
	</select>

    <select id="queryListByStockIDAndBuyDate" parameterType="map" resultMap="quantTradeActualResultMap">
		SELECT *
		FROM quant_trade_actual
		WHERE stockID=#{stockID} AND actualBuyTradeDate=#{actualBuyTradeDate, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler}
	</select>

	<select id="queryListNotSellTradeActual" parameterType="long" resultMap="quantTradeActualResultMap">
		SELECT *
		FROM quant_trade_actual
		WHERE stockID=#{stockID} AND actualSellPrice=0
	</select>

	<select id="queryByBuyTradeActualParam" parameterType="map" resultMap="quantTradeActualResultMap">
		SELECT *
		FROM quant_trade_actual
		WHERE tradePlannedID=#{tradePlannedID}
		  AND (actualBuyPrice=#{actualBuyPrice} OR actualBuyPrice LIKE #{actualBuyPrice})
		  AND actualBuyVolume=#{actualBuyVolume}
		  AND actualBuyTradeDate=#{actualBuyTradeDate, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler}
		  AND actualBuyTradeTime=#{actualBuyTradeTime, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalTimeTypeHandler}
	</select>

    <insert id="insertBuyTradeActual" parameterType="QuantTradeActual" useGeneratedKeys="true" keyProperty="tradeActualID">
		INSERT INTO quant_trade_actual
		(
			tradePlannedID,
			stockID,
			stockCode,
			tradingHandlerType,
			sellShort,
			actualBuyPrice,
			actualBuyVolume,
			actualBuyKdjJson,
			actualBuyTradeDate,
			actualBuyTradeTime
		)
		VALUES
		(
			#{tradePlannedID},
			#{stockID},
			#{stockCode},
			#{tradingHandlerType, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			#{sellShort},
			#{actualBuyPrice},
			#{actualBuyVolume},
			#{actualBuyKdjJson},
			#{actualBuyTradeDate, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler},
			#{actualBuyTradeTime, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalTimeTypeHandler}
		)
	</insert>

    <update id="updateBuyTradeActual" parameterType="QuantTradeActual">
		UPDATE quant_trade_actual
		SET
			tradePlannedID=#{tradePlannedID},
			stockID=#{stockID},
			stockCode=#{stockCode},
			tradingHandlerType=#{tradingHandlerType, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			sellShort=#{sellShort},
			actualBuyPrice=#{actualBuyPrice},
			actualBuyVolume=#{actualBuyVolume},
			actualBuyKdjJson=#{actualBuyKdjJson},
			actualBuyTradeDate=#{actualBuyTradeDate, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler},
			actualBuyTradeTime=#{actualBuyTradeTime, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalTimeTypeHandler}
		WHERE tradeActualID=#{tradeActualID}
	</update>

	<update id="updateSellTradeActual" parameterType="QuantTradeActual">
		UPDATE quant_trade_actual
		SET
			actualSellPrice=#{actualSellPrice},
			actualSellVolume=#{actualSellVolume},
			actualSellKdjJson=#{actualSellKdjJson},
			actualSellTradeDate=#{actualSellTradeDate, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler},
			actualSellTradeTime=#{actualSellTradeTime, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalTimeTypeHandler},
			profitOrLessAmount=#{profitOrLessAmount},
			profitOrLessRate=#{profitOrLessRate},
			touchProfitTimes=#{touchProfitTimes},
			touchLossTimes=#{touchLossTimes},
			reduceProfitRateMultiple=#{reduceProfitRateMultiple}
		WHERE tradeActualID=#{tradeActualID}
	</update>

</mapper>