<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QuantTradePlannedMapper">

    <resultMap id="quantTradePlannedResultMap" type="QuantTradePlanned">
        <id property="tradePlannedID" column="tradePlannedID" />
        <result property="stockID" column="stockID" />
		<result property="stockCode" column="stockCode" />
        <result property="tradeDate" column="tradeDate" typeHandler="com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler" />
        <result property="predayKLineJson" column="predayKLineJson" />
		<result property="prePredayKLineJson" column="prePredayKLineJson" />
		<result property="plannedScore" column="plannedScore" />
        <result property="createTime" column="createTime" typeHandler="com.trade.common.infrastructure.util.mybatis.LocalDateTimeTypeHandler" />
    </resultMap>

    <select id="queryListByDate" parameterType="map" resultMap="quantTradePlannedResultMap">
		SELECT *
		FROM quant_trade_planned
		WHERE tradeDate=#{tradeDate, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler}
	</select>

    <select id="queryListByStockID" parameterType="long" resultMap="quantTradePlannedResultMap">
		SELECT *
		FROM quant_trade_planned
		WHERE stockID=#{stockID}
	</select>

	<select id="queryByTradePlannedID" parameterType="int" resultMap="quantTradePlannedResultMap">
		SELECT *
		FROM quant_trade_planned
		WHERE tradePlannedID=#{tradePlannedID}
	</select>

    <select id="queryByStockIDAndDate" parameterType="map" resultMap="quantTradePlannedResultMap">
		SELECT *
		FROM quant_trade_planned
		WHERE stockID=#{stockID} AND tradeDate=#{tradeDate, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler}
	</select>

    <insert id="insert" parameterType="QuantTradePlanned" useGeneratedKeys="true" keyProperty="tradePlannedID">
		INSERT INTO quant_trade_planned
		(
			stockID,
			stockCode,
			tradeDate,
			predayKLineJson,
			prePredayKLineJson,
			plannedScore,
			createTime
		)
		VALUES
		(
			#{stockID},
			#{stockCode},
			#{tradeDate, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler},
			#{predayKLineJson},
			#{prePredayKLineJson},
			#{plannedScore},
			#{createTime, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalDateTimeTypeHandler}
		)
	</insert>

    <update id="update" parameterType="QuantTradePlanned">
		UPDATE quant_trade_planned
		SET
			stockID=#{stockID},
			stockCode=#{stockCode},
			tradeDate=#{tradeDate, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalDateTypeHandler},
			predayKLineJson=#{predayKLineJson},
			prePredayKLineJson=#{prePredayKLineJson},
			plannedScore=#{plannedScore},
			createTime=#{createTime, typeHandler=com.trade.common.infrastructure.util.mybatis.LocalDateTimeTypeHandler}
		WHERE tradePlannedID=#{tradePlannedID}
	</update>

</mapper>