<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <!-- display name -->
  <display-name>solution-web-solutionsearch</display-name>

  <!-- webAppRootKey -->
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>web.solutionsearch</param-value>
  </context-param>

  <!-- Spring ContextLoaderListener -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/spring-web-itradecore.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Logback Listener -->
  <context-param>
    <param-name>logbackConfigLocation</param-name>
    <param-value>classpath:logback/logback.xml</param-value>
  </context-param>
  <listener>
    <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
  </listener>

  <!-- SpringCharacterEncodingFilter -->
  <filter>
    <filter-name>SpringCharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SpringCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- session filter -->
  <filter>
    <filter-name>jindouyunSessionFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>jindouyunSessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- UrlRewriteFilter -->
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>

  <!-- CorsFilter -->
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- springMVC Servlet -->
  <servlet>
    <servlet-name>springMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/springMVC-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMVC</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- checkstatus -->
  <servlet>
    <servlet-name>checkStatusServlet</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkStatusServlet</servlet-name>
    <url-pattern>/checkpreload</url-pattern>
  </servlet-mapping>

  <servlet>
    <!-- 使用bean name作为servletName -->
    <servlet-name>inspectHandler</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inspectHandler</servlet-name>
    <url-pattern>/inspect.do</url-pattern>
  </servlet-mapping>

  <!-- errorPage -->
  <error-page>
    <error-code>400</error-code>
    <location>/error1.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error1.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error1.html</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/error1.html</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/error1.html</location>
  </error-page>
  <error-page>
    <error-code>410</error-code>
    <location>/error1.html</location>
  </error-page>
  <error-page>
    <error-code>411</error-code>
    <location>/error1.html</location>
  </error-page>
  <error-page>
    <error-code>412</error-code>
    <location>/error1.html</location>
  </error-page>
  <error-page>
    <error-code>413</error-code>
    <location>/error1.html</location>
  </error-page>
  <error-page>
    <error-code>414</error-code>
    <location>/error1.html</location>
  </error-page>
  <error-page>
    <error-code>415</error-code>
    <location>/error1.html</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/error2.html</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/error2.html</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/error2.html</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/error2.html</location>
  </error-page>
  <error-page>
    <error-code>506</error-code>
    <location>/error2.html</location>
  </error-page>

</web-app>